<div class="base">
  <h2>Reserve Equipment</h2>
  <div class="equipment-cards">
    <div *ngFor="let type of types$ | async">
      <equipment-card [type]="type" />
    </div>
  </div>

  <h2>My Reservations</h2>
  <div class="equipment-cards">
    <div *ngFor="let reservation of reservations$ | async">
      <equipment-reservation-card
        [reservation]="reservation"
        *ngIf="
          reservation.actual_return_date === null ||
          notTooFar(reservation.actual_return_date)
        " />
    </div>
  </div>
</div>
