.mat-mdc-card {
    max-width: 500px;
    margin: 1rem;
}

.mat-mdc-card-header {
    margin-bottom: 16px;
}

.mat-mdc-card-actions {
    margin-top: 16px;
}

.mat-divider {
    margin: 1em 0;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

h3>label {
    width: 95px;
    display: inline-block;
}

p {
    margin-left: 10px;
}