<div *ngIf="upcomingReservations$ | async as reservations">
  <mat-card
    class="content"
    *ngIf="reservations.length > 0; else noUpcoming"
    appearance="outlined">
    <mat-card-header>
      <mat-card-title>Upcoming Equipment Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="reservations">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.user.first_name + ' ' + reservation.user.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.equipment_type.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="item_id">
          <th mat-header-cell *matHeaderCellDef>Item ID</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.item_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="check_out_date">
          <th mat-header-cell *matHeaderCellDef>Check Out Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.check_out_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expected_end_date">
          <th mat-header-cell *matHeaderCellDef>Expected End Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.expected_return_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="return_description">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let reservation">
            <button
              mat-stroked-button
              (click)="openSnackBar(reservation.return_description)">
              View</button
            >&nbsp;
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let reservation">
            <button
              mat-stroked-button
              color="primary"
              (click)="this.ambassadorService.activateReservation(reservation)">
              Activate
            </button>
            <button
              mat-stroked-button
              color="warn"
              (click)="this.ambassadorService.cancelReservation(reservation)">
              Cancel
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let reservation; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <ng-template #noUpcoming>
    <mat-card class="content" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Upcoming Equipment Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content> No upcoming equipment reservations. </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<div *ngIf="activeReservations$ | async as reservations">
  <mat-card
    class="content"
    *ngIf="reservations.length > 0; else noActive"
    appearance="outlined">
    <mat-card-header>
      <mat-card-title>Active Equipment Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="reservations">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.user.first_name + ' ' + reservation.user.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.equipment_type.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="item_id">
          <th mat-header-cell *matHeaderCellDef>Item ID</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.item_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="check_out_date">
          <th mat-header-cell *matHeaderCellDef>Check Out Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.check_out_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expected_end_date">
          <th mat-header-cell *matHeaderCellDef>Expected End Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.expected_return_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="return_description">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let reservation">
            <button
              mat-stroked-button
              (click)="openSnackBar(reservation.return_description)">
              View</button
            >&nbsp;
          </td>
        </ng-container>
        <ng-container matColumnDef="additional_info">
          <th mat-header-cell *matHeaderCellDef>Additional Info</th>
          <td mat-cell *matCellDef="let reservation">
            <mat-form-field>
              <mat-label>Input</mat-label>
              <input
                [(ngModel)]="reservation.additional_description"
                matInput
                #returnInput
                (blur)="onBlur()"
                (focus)="onFocus()" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let reservation">
            <button
              mat-stroked-button
              color="primary"
              (click)="returnReservation(reservation)">
              Return</button
            >&nbsp;
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayActive"></tr>
        <tr
          mat-row
          *matRowDef="let reservation; columns: columnsToDisplayActive"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <ng-template #noActive>
    <mat-card class="content" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Active Equipment Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content> No active equipment reservations. </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<div *ngIf="pastReservations$ | async as reservations">
  <mat-card
    class="content"
    *ngIf="reservations.length > 0; else noPast"
    appearance="outlined">
    <mat-card-header>
      <mat-card-title>Past Equipment Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="reservations">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.user.first_name + ' ' + reservation.user.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.equipment_type.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="item_id">
          <th mat-header-cell *matHeaderCellDef>Item ID</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.item_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="check_out_date">
          <th mat-header-cell *matHeaderCellDef>Check Out Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.check_out_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expected_end_date">
          <th mat-header-cell *matHeaderCellDef>Expected End Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.expected_return_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actual_end_date">
          <th mat-header-cell *matHeaderCellDef>Actual End Date</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.actual_return_date | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="return_description">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let reservation">
            <button
              mat-stroked-button
              (click)="openSnackBar(reservation.return_description)">
              View</button
            >&nbsp;
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayPast"></tr>
        <tr
          mat-row
          *matRowDef="let reservation; columns: columnsToDisplayPast"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <ng-template #noPast>
    <mat-card class="content" appearance="outlined">
      <mat-card-header>
        <mat-card-title> Past Equipment Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content> No past equipment reservations. </mat-card-content>
    </mat-card>
  </ng-template>
</div>
